body {
  margin: 2px 2px 0px;
  color: rgb(164, 201, 164);
}

header {
  background-color: black;
  position: relative;
}

h4 {
  margin: 0;
  position: relative;
  left: 70vw;
}

main {
  height: 100vh;
  padding: 20px 20px 0px;
  background-color: rgb(164, 201, 164);
}

td {
  border-radius: 4%;
  box-shadow: 1px -1px 1px;
}

.container {
  height: 100vh;
  padding-top: 30px;
  /* margin: 5px auto 5px; */
  background-color: black;
}

.bricks {
  height: 230px;
  background-color: black;
}

#red tr td {
  width: 200px;
  height: 25px;
  background-color: red;
}

#yellow tr td {
  width: 200px;
  height: 25px;
  background-color: yellow;
}

#green tr td {
  width: 200px;
  height: 25px;
  background-color: green;
}

#blue tr td {
  width: 200px;
  height: 25px;
  background-color: blue;
}

#yellow .removed {
  background-color: black;
  box-shadow: none;
}
