body {
  text-align: center;
  margin: 50px auto;
  background-image: url(../images/popcorn.gif);
  color: white;
  font-size: 30px;
}

nav {
  /* border: 3px solid blue; */
  display: inline-block;
  margin-top: 25px;
}

img {
  height: 800px;
}

section {
  margin: 35px auto;
}

table,
td {
  table-layout: fixed;
  width: 400px;
  /* border: 2px solid green; */
  text-align: center;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

a img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.gif {
  height: auto;
}

#one {
  height: 300px;
  width: auto;
}
