body {
  font-family: 'Nunito', sans-serif;
}

.navbar-nav {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #f8f9fa !important;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to top,
    rgba(248, 249, 250, 0.5),
    rgba(33, 37, 41, 0.5)
  ) !important  ;

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to top,
    rgba(248, 249, 250, 0.5),
    rgba(33, 37, 41, 0.5)
  ) !important;
}

#top-nav {
  border-color: #212529 !important;
  background-color: #f8f9fa !important;
}

.nav-item:hover {
  color: #212529;
}

#main-sec {
  margin-top: 100px;
  margin-bottom: 100px;
}

#main-article-sec.row {
  height: 500px;
}

#main-title {
  font-weight: 700;
  color: #f8f9fa;
}

#main-text {
  font-weight: 100;
}

#main-button {
  background-color: #f8f9fa;
  font-weight: 500;
}

#small-article-sec {
  padding: 30px;
  /* background-color: #495057; */
}
